# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.sw?


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Transient file, holding environment specific configuration.
# MUST NOT BE SAVED TO VERSION CONTROL!

*.exe
*.test
./mycryptocap_core
mycryptocap_core
mycryptocap_core.pid
log

# Ignore data folder

test
pprof/
?prof
tmp
